<div>
	<h3>
        {{this.data.name}}
      	<small>
        	<span id="editContact" class="glyphicon glyphicon-pencil"></span>
        	<span id="deleteContact" class="glyphicon glyphicon-trash"></span>
        </small>
	</h3>
</div>
<div>
	<dl>
  		<dt>Phone Number:</dt>
  		<dd>{{this.data.tel}}</dd>
  		<dt>Email:</dt>
  		<dd>{{this.data.email}}</dd>
	</dl>
	</div>
<hr>